<!-- Beautiful Card - starts -->
<mat-card class="evo-card text-center">
  <!-- Setting header image -->
  <div class="contact-header">
  </div>

  <!-- contact image overlapping with header -->
  <div class="contact-img-header">
    <img class="rounded-circle contact-image mt-2 mb-3" src="../../assets/img/user-avatar.png" alt="Profile Photo">
  </div>

  <!-- card heading -->
  <h5> {{cardData.firstName}} {{cardData.lastName}} </h5>

  <mat-card-content>
    <!-- card data contents -->
    <div class="row contact-body">
      <div class="col">
        <div class="row">
          <div class="col">
            <span>{{cardData.email}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>{{cardData.phoneNumber}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span [ngClass]="{'online':  cardData.status === 'active',
                             'offline':  cardData.status === 'inactive'}">
              {{cardData.status | titlecase}} </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit and Delete buttons -->
    <div class="row mt-3">
      <div class="col">
        <button class="mb-2" mat-stroked-button color="primary" (click)="openFormDialog(cardData)" matTooltip="Edit contact" [matTooltipPosition]="'above'">
          <img src="../../assets/img/edit.png" alt="Edit"> Edit </button>
      </div>
      <div class="col">
        <button mat-stroked-button color="warn" (click)="deleteContact(cardData.id)" matTooltip="Delete contact" [matTooltipPosition]="'above'">
          <img src="../../assets/img/garbage.png" alt="Delete"> Delete </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- Beautiful Card - ends -->
