<div class="not-found" *ngIf="!contactListToCheck?.length"></div>

<section id="search-result" *ngIf="contactListToCheck?.length">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span id="evo-nav-heading">Evolent Contact App </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <mat-form-field id="search-contact">
          <input matInput id="name" name="name" [(ngModel)]="searchTerm" (keyup)="filterContact(searchTerm)" placeholder="Search Contact By Name , Email or Number">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="no-record-wrapper" *ngIf="!contactList.length; else showList">
        <app-no-data></app-no-data>
      </div>
      <div #showList class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let contact of contactList">
        <app-evo-card [card-data]="contact"></app-evo-card>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button class="add-contact-btn  blue-pulse" mat-fab color="primary" matTooltip="Add a new contact" [matTooltipPosition]="position"
        (click)="openFormDialog()">
        <!-- <i class="material-icons">
          Add
        </i> -->
        ADD
      </button>
    </div>
  </div>
</div>
