.not-found {
  background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)), url(../../assets/img/not-found.jpg) center;
  height: 99.9vh;
}

#evo-nav-heading {
  width: 100%;
  text-align: center;
}

#search-contact {
  width: 33%;
  display: block;
  margin: 0.7em auto 0;
}

.add-contact-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.no-record-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
}

.no-record-anim {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.no-record-title {
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.no-record-description {
  font-size: 1.2rem;
  font-weight: lighter;
}

.main-graphic {
  position: relative;
}

.cogAnimation {
  width: 10rem;
  height: 10rem;
  fill: #6aafe6;
  transition: easeInOutQuint();
  animation: cogAnimation 5s infinite;
}

.blue-pulse {
  animation: blue-pulse 1s infinite;
  -webkit-animation: blue-pulse 1s infinite;
}

@keyframes cogAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cogAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes blue-pulse {
  from {
    background-color: rgb(72, 97, 236);
    ;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: rgb(25, 40, 112);
    ;
    -webkit-box-shadow: 0 0 18px rgb(25, 32, 68);
    ;
  }
  to {
    background-color: rgb(221, 42, 147);
    ;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@keyframes blue-pulse {
  from {
    background-color: rgb(72, 97, 236);
    ;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: rgb(25, 40, 112);
    ;
    box-shadow: 0 0 18px rgb(25, 32, 68);
    ;
  }
  to {
    background-color: rgb(221, 42, 147);
    ;
    box-shadow: 0 0 9px #333;
  }
}
